git+https://github.com/Rapptz/discord.py
aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
idna==2.10
multidict==4.7.6
mysql-connector-python==8.0.22
numpy==1.19.4
pandas==1.1.4
praw==7.1.0
prawcore==1.5.0
protobuf==3.13.0
python-certifi-win32==1.6
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
setuptools-scm==4.1.2
six==1.15.0
update-checker==0.18.0
urllib3==1.25.11
websocket-client==0.57.0
wrapt==1.12.1
yarl==1.5.1
